body {
  background-color: #333;
  color: #fff; }

.navbar {
  border-bottom: 3px solid #008ed6;
  opacity: 0.8; }

#home {
  background: url("../img/home.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  #home .home-inner {
    padding-top: 150px; }
  #home .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home .card-form {
    opacity: 0.9; }
  #home .fa {
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 14px; }

#about-section .fa, #Section3 .fa {
  color: #fff;
  background: #333;
  padding: 4px;
  border-radius: 5px;
  font-size: 14px; }

#Benefits-section .fa {
  color: #008ed6;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 14px; }
